.main-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    max-width: fit-content;
}

.main-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 500px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid var(--lighten-color);
    border-radius: var(--border-radius);
    color: var(--decorative-font-color);
    will-change: transform, color, box-shadow;
    transition: all 250ms ease-in-out;
}

.main-list__item:hover,
.main-list__item:focus {
    box-shadow: 3px 3px 5px var(--box-shadow-color);
    text-shadow: 3px 3px 5px var(--box-shadow-color);
}

.main-list__text {
    text-align: center;
}